<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="rule index">
					<match url="^index(|/)$"/>
					<action type="Rewrite" url="index.php"/>
				</rule>
				<rule name="rule registro">
					<match url="^registro(|/)$"/>
					<action type="Rewrite" url="registro.php"/>
				</rule>
				<rule name="rule principal">
					<match url="^principal(|/)$"/>
					<action type="Rewrite" url="general/cms/principal.php"/>
				</rule>
				<rule name="rule noticia">
					<match url="^noticia/(..*)(|/)$"/>
					<action type="Rewrite" url="general/cms/noticia.php?article_id={R:1}"/>
				</rule>
				<rule name="rule comunidade">
					<match url="^comunidade(|/)$"/>
					<action type="Rewrite" url="general/cms/comunidade.php"/>
				</rule>r
				<rule name="rule halldafama">
					<match url="^comunidade/halldafama(|/)$"/>
					<action type="Rewrite" url="general/cms/comunidade/halldafama.php"/>
				</rule>
				<rule name="rule sair">
					<match url="^sair(|/)$"/>
					<action type="Rewrite" url="general/cms/sair.php"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
