<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="rule index">
					<match url="^index(|/)$"/>
					<action type="Rewrite" url="general/cms/index.php"/>
				</rule>
				<rule name="rule registro">
					<match url="^registro(|/)$"/>
					<action type="Rewrite" url="general/cms/registro.php"/>
				</rule>
				<rule name="rule principal">
					<match url="^principal(|/)$"/>
					<action type="Rewrite" url="general/cms/principal.php"/>
				</rule>
				<rule name="rule noticia">
					<match url="^noticia(|/)$"/>
					<action type="Rewrite" url="general/cms/noticia.php"/>
				</rule>
				<rule name="rule halldafama">
					<match url="^comunidade/halldafama(|/)$"/>
					<action type="Rewrite" url="general/cms/comunidade/halldafama.php"/>
				</rule>

			</rules>
		</rewrite>
	</system.webServer>
</configuration>