<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="rule index">
					<match url="^index(|/)$"/>
					<action type="Rewrite" url="index.php"/>
				</rule>
				<rule name="rule registro">
					<match url="^registro(|/)$"/>
					<action type="Rewrite" url="registro.php"/>
				</rule>
				<rule name="rule principal">
					<match url="^me(|/)$"/>
					<action type="Rewrite" url="general/cms/principal.php"/>
				</rule>
				<rule name="rule noticia">
					<match url="^article/(..*)(|/)$"/>
					<action type="Rewrite" url="general/cms/noticia.php?article_id={R:1}"/>
				</rule>
				<rule name="rule comunidade">
					<match url="^community(|/)$"/>
					<action type="Rewrite" url="general/cms/comunidade.php"/>
				</rule>r
				<rule name="rule halldafama">
					<match url="^community/halloffame(|/)$"/>
					<action type="Rewrite" url="general/cms/comunidade/fama.php"/>
				</rule>
				<rule name="rule halldafama-players">
					<match url="^community/halloffame/players(|/)$"/>
					<action type="Rewrite" url="general/cms/comunidade/jogadores.php"/>
				</rule>
				<rule name="rule staff">
					<match url="^community/staff(|/)$"/>
					<action type="Rewrite" url="general/cms/comunidade/equipe.php"/>
				</rule>
				<rule name="rule configs">
					<match url="^settings(|/)$"/>
					<action type="Rewrite" url="general/cms/configuracoes/email.php"/>
				</rule>
				<rule name="rule configs-email">
					<match url="^settings/email(|/)$"/>
					<action type="Rewrite" url="general/cms/configuracoes/email.php"/>
				</rule>
				<rule name="rule configs-password">
					<match url="^settings/password(|/)$"/>
					<action type="Rewrite" url="general/cms/configuracoes/senha.php"/>
				</rule>
				<rule name="rule profile">
					<match url="^profile/(..*)(|/)$"/>
					<action type="Rewrite" url="general/cms/perfil.php?user{R:1}" />
				</rule>
				<rule name="rule shop">
					<match url="^shop(|/)$"/>
					<action type="Rewrite" url="general/cms/loja/informacoes.php"/>
				</rule>
				<rule name="rule shop-cash">
					<match url="^shop/cashs(|/)$"/>
					<action type="Rewrite" url="general/cms/loja/cash.php"/>
				</rule>
				<rule name="rule shop-vip">
					<match url="^shop/vip(|/)$"/>
					<action type="Rewrite" url="general/cms/loja/vip.php"/>
				</rule>
				<rule name="rule sair">
					<match url="^logout(|/)$"/>
					<action type="Rewrite" url="general/cms/sair.php"/>
				</rule>
				<rule name="rule error">
					<match url="^404(|/)$"  />
					<action type="Rewrite" url="error.php"  />
				</rule>
			</rules>
		</rewrite>

		<httpErrors>
		<remove statusCode="404" subStatusCode="-1"/>
		<error statusCode="404" prefixLanguageFilePath="" path="http://beta.harbe.com.br/404" responseMode="Redirect"/>
		</httpErrors>
	</system.webServer>
</configuration>
