.green-button {
    position: relative;
    background: rgb(88, 176, 62);
    border: 1px solid rgb(77, 152, 54);
    border-radius: 2px;
    text-decoration: none;
    padding: 5px;
    display: flex;
}

.green-button:hover {
    background: rgb(97, 190, 69);
}

.green-button:active {
    background: rgb(88, 176, 62);
}

.green-button::before {
    content: "";
    position: absolute;
    background: rgba(128, 255, 107, 0.3);
    width: calc(100% - 10px);
    height: calc(50% - 5px);
    top: 5px;
    border-radius: 3px 3px 0px 0px;
}

.green-button-2 label,
.blue-button label,
.red-button label {
    pointer-events: none;
}

.green-button-2::before,
.blue-button::before,
.red-button::before {
    content: "";
    position: absolute;
    background: linear-gradient(rgba(255, 255, 255, 0.14) 50%, transparent 50%);
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 3px 3px 0px 0px;
    top: 0;
    left: 0;
    margin: 5px;
}

.green-button-2,
.blue-button,
.red-button {
    position: relative;
    border-radius: 3px;
    border: none;
    padding: 5px;
    display: flex;
    cursor: pointer;
}

.green-button-2 {
    background: rgb(89, 186, 86);
}

.green-button-2:hover {
    background: rgb(104, 193, 102);
}

.blue-button {
    background: rgb(63, 132, 173);
}

.blue-button:hover {
    background: #4692bf;
}

.red-button {
   background: rgb(185, 76, 76);
}

.red-button:hover {
   background: rgb(185, 76, 76);
}